.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-container select,
  .filter-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 35px;
    justify-content: center;
  }

  h2 {
    color:aliceblue
  }